django>=5.0.1,<6.0.0 # Django 5.0.1 이상 6.0.0 미만
djangorestframework>=3.14.0,<4.0.0 # Django REST Framework 3.14.0 이상 4.0.0 미만
psycopg2-binary>=2.9.9,<3.0.0 # Psycopg2: PostgreSQL Connector 2.9.9 이상 3.0.0 미만
